<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<context:component-scan base-package="com.spring.biz"></context:component-scan>

	<!-- === AOP 설정(xmlns:aop 추가) === -->
	<!-- After Returning : 정상실행 후 적용할 어드바이스 객체 생성 -->	
	<bean id="afterReturn" class="com.spring.biz.common.AfterReturningAdvice" />
	<aop:config>
		<!-- 포인트컷(pointcut) : 핵심관심 중 AOP 적용대상으로 선정할 메소드 설정 -->
		<aop:pointcut expression="execution(* com.spring.biz..*Impl.*(..))" id="allPointcut"/>
		<aop:pointcut expression="execution(* com.spring.biz..*Impl.get*(..))" id="getPointcut"/>
		
		<!-- 애스팩트(aspect) : 적용대상(pointcut)과 적용할 횡단관심(advice) 연결 -->
		<aop:aspect ref="afterReturn">
			<aop:after-returning pointcut-ref="allPointcut" method="afterReturnLog"
				returning="returnObj"/><!-- returning 설정으로 실행후 리턴값 받기 -->
		</aop:aspect>
	</aop:config>
	
	
</beans>



