<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.spring.biz.board.BoardVO" alias="board"/>
		<typeAlias type="com.spring.biz.user.UserVO" alias="user"/>
	</typeAliases>

  <mappers>
  	<!-- 스프링 설정파일 mapperLocations 설정으로 대체
  	<mapper resource="mappings/BoardMapper.xml"/>
  	<mapper resource="mappings/UserMapper.xml"/> -->
  </mappers>
  
</configuration>





