	#container {
		width: 512px; margin: auto;
		/* border: 1px solid blue; */
	}
	#container h2 { text-align: center; }
	#container p { text-align: center; }
	#container table { 
		width: 100%;
		border-collapse: collapse;
	}
	#container th {
		background-color: #9cf;
	}
	th, td { border: 1px solid black; }
	#container .center { text-align: center; }
	#container tfoot { text-align: center; }