<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="HR">

	<!-- 전체 직원 목록 조회 -->
	<select id="list" resultType="com.bc.model.vo.EmployeeVO">
		SELECT * FROM EMPLOYEES ORDER BY EMPLOYEE_ID 
	</select>
	
	<!-- 이름으로 검색(조회) -->
	<select id="fullnameList" parameterType="string" resultType="employee">
		SELECT * 
		FROM EMPLOYEES 
		WHERE FIRST_NAME = INITCAP(#{fullname})
		   OR LAST_NAME = INITCAP(#{fullname})
		ORDER BY EMPLOYEE_ID 
	</select>
	
	<!-- 동적검색 -->
	<select id="search" parameterType="map" resultType="employee">
		SELECT * 
		FROM EMPLOYEES 
		<where>
			<if test="idx == 0">
				EMPLOYEE_ID = #{keyword}
			</if>
			<if test="idx == 1">
				FIRST_NAME = INITCAP(#{keyword}) OR LAST_NAME = INITCAP(#{keyword})
			</if>
			<if test="idx == 2">
				JOB_ID = UPPER(#{keyword})
			</if>
			<if test="idx == 3">
				DEPARTMENT_ID = #{keyword}
			</if>
		</where>
		ORDER BY EMPLOYEE_ID
	</select>
	
		<select id="search2" parameterType="map" resultType="employee">
		SELECT * 
		FROM EMPLOYEES 
		WHERE 1 = 1 
		<choose>
			<when test="idx == 0">
				AND EMPLOYEE_ID = #{keyword}
			</when>
			<when test="idx == 1">
				AND FIRST_NAME = INITCAP(#{keyword}) OR LAST_NAME = INITCAP(#{keyword})
			</when>
			<when test="idx == 2">
				AND JOB_ID = UPPER(#{keyword})
			</when>
			<when test="idx == 3">
				AND DEPARTMENT_ID = #{keyword}
			</when>
			<otherwise>
				AND 1 = 2
			</otherwise>
		</choose>
		ORDER BY EMPLOYEE_ID
	</select>
</mapper>








