<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="bbs">
	<!-- select 태그 3개 속성 id, resultType, parameterType 
	id : 사용할 명칭(필수항목), 현재 매퍼에서 유일한 이름 사용
	parameterType : 전달받은 파라미터 데이터의 타입 지정(선택적)
	resultType : 조회 결과값 저장하기 위한 데이터 타입
		(데이터 하나에 대한 타입 지정)
	-->
	<!-- 전체 게시글 갯수 조회 -->
	<select id="totalCount" resultType="int">
		SELECT COUNT(*) AS CNT FROM BBS_T
	</select>

	<!-- 페이지에 해당하는 게시글 조회 -->
	<select id="list" resultType="com.bc.bbs.vo.BBSVO"
			parameterType="map">
		SELECT *
		  FROM (SELECT ROWNUM R_NUM, B.*
		          FROM (SELECT *
		                  FROM BBS_T
		                 ORDER BY B_IDX DESC 
		               ) B
		       )
		 WHERE R_NUM BETWEEN #{begin} AND #{end}
	</select>
	
	<!-- 게시글 하나 조회 -->
	<select id="one" resultType="bbsVO" parameterType="int">
		SELECT B_IDX, SUBJECT, WRITER, CONTENT, FILE_NAME, 
               ORI_NAME, PWD, WRITE_DATE, IP, HIT 
		FROM BBS_T 
		WHERE B_IDX = #{b_idx}
	</select>
	
	
	<!-- ======= 댓글 관련 SQL ============== -->
	<!-- 게시글에 딸린 댓글 조회 -->
	<select id="commList" resultType="com.bc.bbs.vo.CommentVO"
			parameterType="int">
		SELECT C_IDX, WRITER, CONTENT, PWD, WRITE_DATE, 
               IP, B_IDX
		FROM COMMENT_T 
		WHERE B_IDX = #{b_idx}
	</select>
</mapper>








