<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="guestbook">
	
	<!-- select 태그 3개 속성 id, resultType, parameterType 
	id : 사용할 명칭(필수항목), 현재 매퍼에서 유일한 이름 사용
	parameterType : 전달받은 파라미터 데이터의 타입 지정(선택적)
	resultType : 조회 결과값 저장하기 위한 데이터 타입
		(데이터 하나에 대한 타입 지정)
	-->
	<select id="all" resultType="com.bc.mybatis.GuestbookVO">
		SELECT IDX, NAME, SUBJECT, CONTENT, EMAIL, PWD, REGDATE
  		FROM GUESTBOOK
 		ORDER BY IDX DESC
	</select>
	
	<select id="one" parameterType="string" resultType="guestbookVO">
		SELECT IDX, NAME, SUBJECT, CONTENT, EMAIL, PWD, REGDATE
  		FROM GUESTBOOK
 		WHERE IDX = #{idx}
	</select>
	
	<insert id="insert" parameterType="com.bc.mybatis.GuestbookVO">
		INSERT INTO GUESTBOOK
		       (IDX, NAME, SUBJECT, CONTENT, EMAIL, 
		       PWD, REGDATE)
		VALUES (GUESTBOOK_SEQ.NEXTVAL, #{name}, #{subject}, #{content}, #{email}, 
		       #{pwd}, SYSDATE)  
	</insert>
	
	<update id="update" parameterType="guestbookVO">
		UPDATE GUESTBOOK
		SET NAME = #{name},
		    SUBJECT = #{subject},
		    EMAIL = #{email},
		    CONTENT = #{content},
		    REGDATE = SYSDATE
		WHERE IDX = #{idx}
	</update>
	
	<delete id="delete" parameterType="guestbookVO">
		DELETE FROM GUESTBOOK WHERE IDX = #{idx}
	</delete>
	
	<delete id="delete2" parameterType="string">
		DELETE FROM GUESTBOOK WHERE IDX = #{idx}
	</delete>
</mapper>








